* {
	margin: 0px;
	padding: 0px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Tahoma, Helvetica, Arial, sans-serif, '宋体';
}
body {
	overflow-x: hidden;
}
img {
	max-width: 100%;
	height: auto;
	border: none;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 20px;
	font-weight: 700;
}
.single-page-nav {
	text-align: center;
}
.green-text { color: #178A27; }
.blue-text { color: #1686C1; }
.red-text { color: #852406;}
.gray-text { color: #1686C1; }
.navbar-inverse {
	background-color: #383E4C;
	border-color: #383E4C;
}
.navbar-nav>li {
	display: inline-block;
	padding: 10px;
	width: 150px;
}
.navbar-inverse .navbar-nav>li>a {
	background: #383E4C none repeat scroll 0 0;
	border: 1px solid #646d7c;
	color: #fff ;
	font-size: 20px;
	padding: 15px 25px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.navbar-inverse .navbar-nav>li>a.current,
.navbar-inverse .navbar-nav>li>a:hover {
	background: #49505F;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
}
header {
	background-image: url("../img/bg-2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 235px 0;
	background-attachment: fixed;
}
header h1 {
	color: #fff;
	font-size: 70px;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
}
header h4 {
	color: #fff;
	font-size: 30px;
	text-shadow: 1px 1px #333;
}
header h5 {
	color: #fff;
	font-size: 25px;
}
#feature {
	margin-top: 50px;
}
.feature-content {
	height: 500px;
	margin-bottom: 40px;
	background: #F2F2F2;
	position: relative;
}
.feature-content img {
	width: 100%;
	height: auto;
}
.feature-content-title {
	padding: 0 20px;
	text-align: left;    
}
.feature-content-description {
	padding: 0 20px 10px;
	text-align: left;
	text-indent: 30px;
	color: #222;
	max-height: 140px;
	overflow: auto;
	margin-top: 15px;
}
.feature-foot {
	width: 100%;
	position: absolute;
	bottom: 20px;
	clear: both;
}
.feature-foot h5 {
	padding: 5px 20px 5px;
	margin-bottom: 15px;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	color: #f60;
}
#story{
	margin: 30px 0px;
}
.story-content {
	background: #F2F2F2;
	max-width: 555px;
	height: 550px;
	margin-bottom: 30px;
}
.story-content-title {
	color: #666;
}
.story-content-description {
	padding: 25px 27px 10px;
	text-indent: 30px;
	text-align: left;
	color: #333;
	max-height: 220px;
	overflow: auto;
}
#service-info {
	padding: 80px 0px 90px;
	margin-bottom: 40px;
	background-image: url("../img/bg-1.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.service-info-content h1 {
	color: #fff;
	text-shadow: 2px 2px #aaa;
	margin-bottom: 20px;
}
.service-info-content p {
	color: #fff;
	font-size: 18px;
}
.services-content {
	background-color: #f2f2f2;
	height: 500px;
	max-width: 360;
	margin: 10px auto 30px;
	position: relative;
}
.services-content img {
	width: 100%;
	height: auto;
}
.services-content h2 {
	color: #666;
}
.services-content  p {
	max-height: 130px;
	overflow: auto;
	padding: 10px 20px;
	text-align: left;
	text-indent: 30px;
}
.services-link {
	width: 100%;
	position: absolute;
	bottom: 25px;
	clear: both;
}
.services-link a {
	width: 100px;
	font-weight: 600;
}
.info-box {
	background-color: #F2F2F2;
	width: 100%;
}
.info-box img {
	width: 100%;
	height: auto;
}
.info-box-content {
	padding: 30px;
}
.info-box-content p {
	text-indent: 30px;
	margin-bottom: 10px;
	line-height: 1.5em;
}
.footer-content  h1 {
	color: #666;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 25px;
	margin-top: 35px;
}
.footer-content  p {
	font-family: "幼圆";
	color: #888;
	font-style: normal;
	margin-bottom: 30px;
}
.copy {
	color: #666;
	font-size: 12px;
	margin-bottom: 30px;
	margin-top: 10px;
}
#scrollUp {
	background-image: url("../img/top.png");
	bottom: 20px;
	right: 20px;
	width: 38px;    /* Width of image */
	height: 38px;   /* Height of image */
}

@media (min-width: 1920px) {
	.container {
		width: 75%;
	}
	.feature-content {
		max-width: 360px;
		margin: 0 auto;
	}
	.story-content {
		max-width: 555px;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.col-md-3 {
		padding-left: 8px;
		padding-right: 8px;
	}
	.story-content-description {
		padding: 18px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.story-content-description {
		margin-bottom: 21px;
		padding: 27px;
	}
	.service-info-content>p {
		font-size: 18px;
	}
	.navbar-nav>li {
		padding: 6px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 16px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav>li {
		display: block;
	}
	.navbar-inverse {
		background: none;
		border: none; 
	}
	.navbar-inverse .navbar-toggle {
		background-color: #333;
	}
	.navbar .navbar-nav {
		width: 100%;
		margin:0;
	}
	.navbar-nav>li {
		width: 100%;
		border-bottom: 1px solid #999;
		padding:0px;
	}
	.navbar-nav>li:last-child {
		border-bottom: none;
	}
	.navbar-inverse .navbar-nav>li>a {
		background:none;
		border: none;
		width: 100%;
		padding: 10px 0px;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 16px;
	}
	.container {
		margin-left: 0;
		margin-right: 0;
	}
	.single-page-nav {
		background-color: #383E4C;
		max-height: 0;
		-webkit-transition: max-height 0.8s;
		transition: max-height 0.8s;
		overflow: hidden;
	}
	.show {
		max-height: 250px;
		overflow: auto;
	}
	header {
		height: 75vh;
		padding: 0 15px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		background-attachment: scroll;
	}
	.banner-content h1 {
		font-size: 55px;
	}
	.banner-content h4 {
		font-size: 25px;
	}
	.banner-content h5 {
		font-size: 20px;
	}
	.banner-content {
		max-width: 360px;
		margin: 0 auto 30px;
	}
	.feature-content-title {
		text-align: center;
	}
	#service-info {
		background-attachment: scroll;
	}
	.service-info-content p {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
@media only screen and (max-width: 480px) {
	header {
		height: 48vh;
	}
}